@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Rock+Salt&display=swap');

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rock Salt", cursive;
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.heart img {
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.message-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #660033;
  color: #ffffff;
  font-size: 24px;
  font-family: "Indie Flower", sans-serif;
}

.message-body {
  width: 80%;
}

/* Animations */

.fadeIn-appear {
  opacity: 0
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}